<style>
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h1 style="text-align: center;"><strong> Dados Gerais sobre a Covid-19 - V1</strong></h1><br>

    <div class="card mb-3" style="text-align: center">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="figure-img img-fluid rounded-circle center" src="https://media.tenor.com/images/3820f190cdeec0271c06dae7203806bf/tenor.gif"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title display-6" style="text-align: center;">Covid no Mundo:</h2>
                    <h5 style="text-align: center;">Casos: {{info.cases}}</h5>
                    <h5 style="text-align: center;"class="text-danger">Mortes: {{info.deaths}}</h5>
                    <h5 style="text-align: center;"class="text-success">Recuperados: {{info.recovered}}</h5>
                </div>
            </div>
        </div>    
    </div>



