<style>
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h1 style="text-align: center;"><strong> Dados sobre a Covid-19 em cada País - V1</strong></h1><br>

    {{#each info as |val key|}}
    <div class="card mb-3" style="text-align: center">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="figure-img img-fluid rounded-circle center" src="{{val.countryInfo.flag}}"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title display-6" style="text-align: center;">{{val.country}}</h2>
                    <h5 style="text-align: center;">Casos: {{val.cases}}</h5>
                    <h5 style="text-align: center;"class="text-danger">Mortes: {{val.deaths}}</h5>
                    <h5 style="text-align: center;"class="text-success">Recuperados: {{val.recovered}}</h5>
                </div>
            </div>
        </div>    
    </div>
    {{/each}}



